Makefile
Makefile-*
makefile.vc
.depend
TAGS
config.cache
config.log
config.status
embedded-tclobj.cc
embedded-tk.cc
gen
ns
ns-src*.tar.gz
*.ps
*.tr
*.dat
out*
*-bw
*-tcpstat.*
temp.rands
autoconf.h
ptypes2tcl
.configure
*.o
tcl/lib/ns-autoconf.tcl
indep-utils/cmu-scen-gen/setdest/calcdest
indep-utils/cmu-scen-gen/setdest/setdest
indep-utils/webtrace-conv/dec/dec-tr-stat
indep-utils/webtrace-conv/epa/epa-tr-stat
indep-utils/webtrace-conv/nlanr/nlanr-tr-stat
indep-utils/webtrace-conv/ucb/ucb-tr-stat
nse
nstk

